{% load static %}
<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<title>Square</title>
	<meta name="viewport" content="width=device-width, iniciale-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Square/navfooter.css' %}">
	<link rel="stylesheet" href="{% static 'css/Square/choice.css' %}">
	


</head>

<body>

	<div class="navbar">
		<p class="logo"><a href="index.html">SQUARE</a></p>
		<ul class="list">
			<li><a href="index.html">Accueil</a></li>
			<li><a href="">Contact</a></li>
			<li><a href="">A propos de</a></li>
		</ul>
		<p class="signup"><a href="">Rejoindre</a></p>
	</div>
	<div class="line"></div>
	<div class="heading">
		<h1>Administration</h1>
		<h3>Choisissez la catégorie souhaitée</h3>
	<div class="choice">
		<h2><a href="student.html">Étudiant</a></h2>
		<h2><a href="{% url 'professors-signup' %}">Professeur</a></h2>
	</div>
	</div>
	{% if user.is_authenticated %}
		{{ user.username }}
	{% else %}

	<p><a href="{% url 'choice' %}">S'inscrire</a></p></div>

	{% endif %}
</body>

<footer>
	<div class="line"></div>
	<div class="footer">
		<ul class="phone">Phone:
			<li>+213-999-999-999</li>
		</ul>
		<ul class="email">Email:
			<li>admin@univ-khenchela.dz</li>
		</ul>
		<ul class="smedia">Social media:
			<li><a href="fb.com"><img src="{% static 'css/Square/image/fb.png' %}" alt="facebook" style="width:50px;"></a><a href="twitter.com"><img src="{% static 'css/Square/image/twt.png' %}" alt="twitter" style="width:25px;"></a></li>
		</ul>
	</div>
</footer>


</html>