{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Square</title>
        <meta name="viewport" content="width=device-width, iniciale-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">    
    	<link rel="stylesheet" href="{% static 'css/content/contact.css' %}">
    </head>

   <body>

    <div class="about">
		<div class="three"><img src="/static/css/Square/image/about.png" alt="Eduation"></div>
		<div class="one">
			<h1>Built and Developed by:</h1>
				<div class="two">
					<ul><li>TAOUS Mohamed</li>
					<li>MEBARKIA Abdennour</li>
					<li>SABEG Hichem</li></ul>
				</div> <br><br>
			<h2>An educational Web-site where Students have the access to the Courses, Home-work, Projects, Quizz, Exams and Planning. and also where Professors have tha ability to share them Courses, Home-work, Projects, Quizz, Exams.<br><br> Using: HTML - CSS - JS - DJANGO - SQLITE <br> As a graduation Project</h2>
		</div>

	</div>


       </body>
       </html>