
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Contact</title>
        <meta name="viewport" content="width=device-width, iniciale-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">    
    	<link rel="stylesheet" href="{% static 'css/content/about.css' %}">
    </head>

   <body>
    <div class="contactw">
        <div class="words"><h1>Get in touch</h1><h6>Looking forward to <br> hear from you</h6>
        </div>
        <div class="listt">
        <ul class="phone">Phone:
            <li>+213-999-999-999</li>
        </ul>
        <ul class="email">Email:
            <li>admin@univ-khenchela.dz</li>
        </ul>
        <ul class="smedia">Location:
            <li>Khenchela - Rue 999</li>
        </ul>
    </div>
</div>


   </body>




</html>