{% load static %}
<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<title>Square</title>
	<meta name="viewport" content="width=device-width, iniciale-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
	
    <link rel="stylesheet" href="{% static 'css/accounts/navfooter.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts/style2.css' %}">



</head>

<body>
    <div class="navbar">
		<p class="logo"><a href="{% url 'documents' %}">{{ user.last_name | upper }} {{ user.first_name }}</a></p>
		<ul class="list">
			<li><a href="{% url 'documents' %}">Home</a></li>
			<li><a href="{% url 'about' %}" >About</a></li>
			<li><a href="{% url 'contact' %}">Contact</a></li>
            
		</ul>
		<p class="signup"><a href="{% url 'logout' %}">Log Out</a></p>
	</div>

    <div class="bodies">
        {% for module in modules %}
        <div class="bod">
    
            <h1>{{module.name}}</h1>
            <h4>Coefficient: {{module.coeffcient}}</h4>
            <h4>Credit: {{module.credit}}</h4>
    
        </div>
        <table>
            <tr>
                <th>Cours:</th>
                <th>Td:</th>
                <th>Tp:</th>
                <th>Home-Work:</th>
                <th>Correction:</th>
    
            </tr>
            <tr>
                <td>
                    <ul>
                        {% for cour in cours %}
                        {% if cour.module_id == module.id %}
                        <li>
                            <a href="{{cour.cour.url}}" target="_blank">{{cour.title}}</a></li>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for td in tds %}
                        {% if td.module_id == module.id %}
                        <li>
                            <a href="{{td.td.url}}" target="_blank">{{td.title}}</a></li>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for tp in tps %}
                        {% if tp.module_id == module.id %}
                        <li>
                            <a href="{{tp.tp.url}}" target="_blank">{{tp.title}}</a></li>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for homework in homeworks %}
                        {% if homework.module_id == module.id %}
                        <li>
                            <a href="{{homework.homework.url}}" target="_blank">{{homework.title}}</a></li>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for correction in corrections %}
                        {% if correction.module_id == module.id %}
                        <li>
                            <a href="{{correction.correction.url}}" target="_blank">{{correction.title}}</a></li>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </td>
               
    
    
            </tr>
    
        </table>
        {% endfor %}
    
    
    </div>

    



</body>