<h1>Hello Student</h1>
<h2><a  href="{% url 'logout' %}"  >Log out</a></h2>

<ul>
    {% for module in modules %}
    <li>{{module.name}}</li>
    <li>Coefficient : {{module.coeffcient}}</li>
    <li>Credit : {{module.credit}}</li>
        <ul>
            <li>Courses</li>
                <ul>
                    {% for cour in cours %}
                    {% if cour.module_id == module.id %}
                    <li><a  href="{{cour.cour.url}}" target="_blank" >{{cour.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            <li>TD</li>
                <ul>
                    {% for td in tds %}
                    {% if td.module_id == module.id %}
                    <li><a  href="{{td.td.url}}" target="_blank" >{{td.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            <li>TP</li>
                <ul>
                    {% for tp in tps %}
                    {% if tp.module_id == module.id %}
                    <li><a  href="{{tp.tp.url}}" target="_blank" >{{tp.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            <li>Home-works</li>
                <ul>
                    {% for homework in homeworks %}
                    {% if homework.module_id == module.id %}
                    <li><a  href="{{homework.homework.url}}" target="_blank" >{{homework.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            <li>Corrections</li>
                <ul>
                    {% for correction in corrections %}
                    {% if correction.module_id == module.id %}
                    <li><a  href="{{correction.correction.url}}" target="_blank" >{{correction.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
        </ul>
    {% endfor %}
</ul>