{% load static %}
<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
    <title>Student</title>
	<meta name="viewport" content="width=device-width, iniciale-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
	
    <link rel="stylesheet" href="{% static 'css/content/done.css' %}">



</head>

<body>
	<div class="nothing"></div>
	<div class="succ">
		<img src="{% static 'css/content/image/succes.png' %}" alt="">
		<h1>DONE</h1>
		<p>E-mail sent successfully<br>Nothing went Wrong</p>
        <a href="{% url 'login'%}" style="padding-left:46%; ">Exit</a>
	</div>
</body>


</html>