Dear {{ full_name }}

Your SQUARE - ABBES LAGHROUR University - Account is created succesfully.

To review your Account (use Username and Password bellow to sign in):
Your Username is: {{ prof_username }}
Your Password is: the first 8 letters of your email.

This is an auto-Email generated, Don't reply to this Email.
If you have any concerns or additions contact the administration.

IMPORTANT: for security precautions change your password as soon as you log in. 

Thank you for taking the first step into our Platform SQUARE.