{% load static %}
<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<title>Square</title>
	<meta name="viewport" content="width=device-width, iniciale-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/accounts/navfooter.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">

</head>

<body>
	
	<div class="navbar">
		<p class="logo"><a href="index.html">SQUARE</a></p>
		<ul class="list">
			<li><a href="{% url 'login' %}">Home</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
		<p class="signup"><a href="">Rejoindre</a></p>
	</div>

	<div class="container">
		<img src="{% static 'css/accounts/image/Login.png' %}">
	<div class="login">
		<h1>Log in</h1>
		<form method="POST" >
   			{% csrf_token %}
			<div class="textfield"><input id="username" type="text" name="username" required><span></span><label for="username">User name</label></div>
			<div class="textfield"><input id="password" type="password" name="password" required><span></span><label for="password">Password</label></div>
			
			{% if messages %}
    		{% for message in messages %}
			<ul>
    		<li style="color: red; list-style: none;
			font-family: 'Manrope', sans-serif;
			font-size: 14px;
			font-weight: 300;
			padding-bottom: 20px;"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
			{% endif %}
			</ul>
			<div class="secnct"><input type="submit" value="Login"></div>
		</form>
	</div>
	</div>

</body>

<footer>
	<div class="footer">
		<ul class="phone">Phone:
			<li>+213-999-999-999</li>
		</ul>
		<ul class="email">Email:
			<li>admin@univ-khenchela.dz</li>
		</ul>
		<ul class="smedia">Social media:
			<li><a href="fb.com"><img src="{% static 'css/accounts/image/fb.png' %}" alt="facebook" style="width:50px;"></a><a href="twitter.com"><img src="{% static 'css/accounts/image/twt.png' %}" alt="twitter" style="width:25px;"></a></li>
		</ul>
	</div>
	
</footer>

</html>