{% load static %}
<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<title>Square</title>
	<meta name="viewport" content="width=device-width, iniciale-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/accounts/h.css' %}">
	<link rel="stylesheet" href="{% static 'css/accounts/navfooter.css' %}">


</head>

<body>
	
	<div class="navbar">
		<p class="logo"><a href="index.html"  style="font-weight: 900;">{{ user.username}}</a></p>
		<ul class="list">
			<li><a href="index.html">Home</a></li>
			<li><a href="#" onclick="document.getElementById('id1').style.display = 'flex'">Settings</a></li>
			<li><a href="">Contact</a></li>
            {% if messages %}
    		{% for message in messages %}
    		<li style="color: white "{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            <style>
                .navbar {
                    background-color: rgb(212, 52, 52);
                }
                </style>
            <li><a style="color: white " href="{% url 'upload' %}" >Cancel</a></li>

			{% endfor %}
			
			{% endif %}
		</ul>
		<p class="signup"><a href="{% url 'logout' %}">Log Out</a></p>
	</div>
		<form class="form" method="POST" enctype="multipart/form-data" name="choisir">
			{% csrf_token %}

			<div class="s-model">
				
				<h1 class="Upcourse">Upload:</h1>

					<div class="textfield" ><input id="title" type="title" name="title" required><span></span><label for="title">File Title:</label></div>
					<div class="rBtn">
						<input class="course" type="radio" name="modu" value="{{ mod1 }}" onclick="document.getElementById('id2').style.display = 'flex'">{{ mod1 }}<br>	
						<input class="course" type="radio" name="modu" value="{{ mod2 }}" onclick="document.getElementById('id2').style.display = 'flex'">{{ mod2 }}<br>	
						{% if mod3 %}
						<input class="course" type="radio" name="modu" value="{{ mod3 }}" onclick="document.getElementById('id2').style.display = 'flex'">{{ mod3 }}<br>	
						{% endif %}
						{% if mod4 %} 
						<input class="course" type="radio" name="modu" value="{{ mod4 }}" onclick="document.getElementById('id2').style.display = 'flex'">{{ mod4 }}<br>			
						{% endif %}

					</div>
	
					<div class="box">
						<select name="Option">
						  <option disabled>Choose an option:</option>
						  <option>Courses</option>
						  <option>Home-workes</option>
						  <option>Correction</option>
						  <option>TD</option>
						  <option>TP</option>
						</select>
					  </div>

					  <div class="elem">
						<input type="file" id="real-file" name="fichier" hidden="hidden" />
						<button type="button" id="custom-button">CHOOSE A FILE</button>
						<span id="custom-text">No file chosen, yet.</span>
					</div>
					<button type="submit" id="custom-button" class="btnBtn" style="margin-top: 20px;">Submit</button>        
			</div>
		
	 
		</form>
	
</body>

<footer>
	<div class="footer">
		<ul class="phone">Phone:
			<li>+213-999-999-999</li>
		</ul>
		<ul class="email">Email:
			<li>admin@univ-khenchela.dz</li>
		</ul>
		<ul class="smedia">Social media:
			<li><a href="fb.com"><img src="{% static 'css/accounts/image/fb.png' %}" alt="facebook" style="width:50px;"></a><a href="twitter.com"><img src="{% static 'css/accounts/image/twt.png' %}" alt="twitter" style="width:25px;"></a></li>
		</ul>
	</div>
</footer>

<div class="bg-model" id="id1">
	<div class="sm-model">
		<div class="close"><a href="#" onclick="document.getElementById('id1').style.display = 'none'">+</a></div>
		<div class="user">
			<img src="{% static 'css/accounts/image/PP.png' %}" alt="user" style="width: 20%;"  >
			<h1>Mohamed TAOUS</h1>
		</div>
		<div class="list-sett">
			<h1><a href="#" onclick="show('Section1');">Change  User-Name:</a></h1>
			<div class="lin"></div>
			<h1><a href="#" onclick="show('Section2');">Change E-mail:</a> </h1>
			<div class="lin"></div>
			<h1><a href="#" onclick="show('Section3');">Change Password:</a> </h1>
		 </div>
		
		 <div id="Section1">
			<div class="change-username">
					
			<div class="input">
				<form method="POST" class="infos">
					
					{% csrf_token %}
					<div class="cntr">
				<div class="textfield"><input id="username" type="text" name="old_username" required><span></span><label for="username">Old User name</label></div>
				<div class="textfield"><input id="username" type="text" name="new_username" required><span></span><label for="username">New User name</label></div>
			</div>

				<input type="submit" value="Confirm">


			</form>
			</div>
		</div></div>
	  
		<div id="Section2" style="display: none;"><div class="change-username">
			<div class="input">
				<form method="POST" class="infos">
					{% csrf_token %}
					<div class="cntr">
				<div class="textfield"><input id="email" type="text" name="old_email" required><span></span><label for="email">Old E-mail</label></div>
				<div class="textfield"><input id="email" type="text" name="new_email" required><span></span><label for="email">New E-mail</label></div>
			</div>
				<input type="submit" value="Confirm">			
				</form>
			</div>
			
	
		</div></div>
		
	  <div id="Section3" style="display: none;"><div class="change-username">
		<div class="input">
			<form method="POST" class="infos">
				{% csrf_token %}
				<div class="cntr">
			<div class="textfield"><input id="password" type="password" name="old_password" required><span></span><label for="password">Old Password</label></div>
			<div class="textfield"><input id="password" type="password" name="new_password" required><span></span><label for="password">New Password</label></div>
		</div>
			<input type="submit" value="Confirm">
			
		</form>
		</div>
	</div>
    </div>
	</div>
</div>



<script>

var divs = ["Section1", "Section2", "Section3", "Section4"];
	var visibleId = null;
	function show(id) {
	  if(visibleId !== id) {
		visibleId = id;
	  } 
	  hide();
	}
	function hide() {
	  var div, i, id;
	  for(i = 0; i < divs.length; i++) {
		id = divs[i];
		div = document.getElementById(id);
		if(visibleId === id) {
		  div.style.display = "block";
		} else {
		  div.style.display = "none";
		}
	  }
	}  

	const realFileBtn = document.getElementById("real-file");
	const customBtn = document.getElementById("custom-button");
	const customTxt = document.getElementById("custom-text");

	customBtn.addEventListener("click", function() {
	realFileBtn.click();
	});

	realFileBtn.addEventListener("change", function() {
	if (realFileBtn.value) {
		customTxt.innerHTML = realFileBtn.value.match(
		/[\/\\]([\w\d\s\.\-\(\)]+)$/
		)[1];
	} else {
		customTxt.innerHTML = "No file chosen, yet.";
	}
	});
	
	
 </script>


</html>