.container{
	width: 100%;
	position: relative;
	padding: 20px 0 0;
}
.container img{
	width: 100%;
}
.cont{
	width: 100%;
	position: absolute;
	bottom: 8%;
	opacity: 1;
}
.row{
	margin: 5%;
}
.row, .row1{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.row .courses{
	background: #D7D4DD;
	margin: auto;
	width: 40%;
	height: 200px;
	border-radius: 0px;
	box-shadow: 5px 5px 8px #8a8989;


}

.title a{
	color: #333F63;
}

.row .title{
	color: #333F63;
	padding-top: 6%;
	width: 50%;
	text-align: center;
	margin: auto;
	border-bottom: 1px solid #333F63;
	font-family: 'Bodoni Moda', serif;
	font-size: 35px;
	font-weight: 700;
}

.row h6{
	color: #333F63;
	width: 80%;
	text-align: center;
	padding-top: 8%;
	margin: auto;
	font-family: 'Manrope', sans-serif;
	font-size: 16px;
	font-weight: 500;
}

