*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	box-sizing: borderbox;
	text-decoration: none;
}

body{
    background-color: #D7D4DD;
}

.resetPw{
    width: 50%;
    margin: auto;
    position: absolute;
    top: 18%;
    left: 25%;
    background-color:#D7D4DD;
    box-shadow: 0 0 6px #727fa3;
}

.resetPw h1{
    text-align: center;
	width: 100%;
	font-family: 'Bodoni Moda', serif;
	font-size: 40px;
	font-weight: 600;
	color: #333F63;
	border-bottom: 1px solid #626b86;
	margin: 25px 0;
	padding-bottom: 20px;
}

.resetPw p{
    text-align: center;
    font-family: 'Manrope', sans-serif;
	font-size: 15px;
	font-weight: 300;
	padding-bottom: 20px;

}

.formPw, .resetPw label{
    font-family: 'Manrope', sans-serif;
	font-size: 15px;
	font-weight: 300;
	padding-bottom: 20px;
}

.resetPw input{
    border: none;
    padding: 10px 35px;
    border: 1px solid #333F63;
    background-color: #D7D4DD;
    color: #333F63;
    margin: 20px 0;
    cursor: pointer;
}
.sbmt{
    width: 35%;
    margin: auto;
}

.sbmt li {
    display: none;
}

.resetPw a{
    border: 1px solid #333F63;
    padding: 10px 30px;
    color: #333F63;
    cursor: pointer;
    margin: auto;
    position: absolute;
    left: 35%;
    width: 20%;
    text-align: center;
    font-family: 'Manrope', sans-serif;
	font-size: 15px;
	font-weight: 500;
}

.resetPw a:hover{
    color: #838bc2;
    border: 1px solid #838bc2;



}